<!DOCTYPE html>
<html>
<!-- Made with ♥ by YP -->
<head>
  <meta charset="utf-8">
  <title>Debugging | Work Notes</title>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta name="author" content="YP">
  
  
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/notes/favicon.ico?ver=1428016240827" rel="icon">
  <link rel="stylesheet" href="/notes/css/main.css?ver=1428016240827">
  
  <link rel="alternate" type="application/atom+xml" title="Work Notes Atom Feed"
    href="/notes/atom.xml">
  <link rel="canonical" href="/notes/2014-4-18/debugging/">
</head>

<body>

<h1 class="site-title">
  <a href="/notes/">Work Notes</a>
</h1>
<main class="content-wrapper">
  <div class="content">
    <div class="articles">
    <article class="entry">
  <header>
    <h1 class="entry-title">Debugging</h1>
    <p class="meta clearfix">
  <span class="author">YP</span>
  <span class="time">2014 年 4 月 18 日</span>
  <span class="tags">Tag:
    <a href="/tags/tips.html"
        title="View posts with tips">tips</a>
    
  </span>
  
</p>
  </header>
  <div class="entry-content"><p>Server logs: <code>/server/turn/home/{{server-type}}/logs/</code><br>E.G., <code>/server/turn/home/console-server1/logs/console-server1.log</code></p>
</div>

  <!--
  <footer>
    <p class="meta pagination">
      <a class="older" href="/notes/2014-4-17/how-to-test-poweredit/" title="How To Test PowerEdit">
        &laquo; How To Test PowerEdit
      </a>
      
      <a class="newer" href="/notes/2014-11-18/creative-cloning-high-level-design/" title="Creative Cloning High Level Design">
        &raquo; Creative Cloning High Level Design
      </a>
      
    </p>
    
  </footer>
  -->
</article>
    </div>
  </div>
  <footer class="footer">
    <p>Made with <span style="color:#FFB8B8">&hearts;</span> by YP</p>
  </footer>
</main>
<aside class="sidebar">
<section class="section-recent">
    <h3>Recent</h3>
    <ul class="recent-posts">
    <li class="post"><a href="/notes/2015-3-24/work-logs/">Work Logs</a></li>
      
    <li class="post"><a href="/notes/2014-11-18/creative-cloning-high-level-design/">Creative Cloning High Level Design</a></li>
      
    <li class="post"><a href="/notes/2014-4-18/debugging/">Debugging</a></li>
      
    <li class="post"><a href="/notes/2014-4-17/how-to-test-poweredit/">How To Test PowerEdit</a></li>
      
    <li class="post"><a href="/notes/2014-3-24/cache-w-order/">Cache w/ Order</a></li>
      
    
    
    
    
    
    </ul>
  </section>
  
  <section class="sidebar-foot">
    <div class="all-posts">
      <a class="archive" href="/notes/" title="Archive">
        All Notes
      </a>
    </div>
    <div class="sidebar-tags">
      <h3>Tags:</h3>
      <div class="tags">
      <a class=""
          href="/notes/tags/docs.html" title="docs">docs</a>
      <a class=""
          href="/notes/tags/interview.html" title="interview">interview</a>
      <a class=""
          href="/notes/tags/logs.html" title="logs">logs</a>
      <a class=""
          href="/notes/tags/tips.html" title="tips">tips</a>
      
      </div>
    </div>
  </section>

</aside>
</body>
<!-- Built at 2015-04-02T16:10:40-0700 -->
</html>


