<!DOCTYPE html>
<html>
<!-- Made with ♥ by YP -->
<head>
  <meta charset="utf-8">
  <title>Creative Cloning High Level Design | Work Notes</title>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta name="author" content="YP">
  
  
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/notes/favicon.ico?ver=1428016240827" rel="icon">
  <link rel="stylesheet" href="/notes/css/main.css?ver=1428016240827">
  
  <link rel="alternate" type="application/atom+xml" title="Work Notes Atom Feed"
    href="/notes/atom.xml">
  <link rel="canonical" href="/notes/2014-11-18/creative-cloning-high-level-design/">
</head>

<body>

<h1 class="site-title">
  <a href="/notes/">Work Notes</a>
</h1>
<main class="content-wrapper">
  <div class="content">
    <div class="articles">
    <article class="entry">
  <header>
    <h1 class="entry-title">Creative Cloning High Level Design</h1>
    <p class="meta clearfix">
  <span class="author">YP</span>
  <span class="time">2014 年 11 月 18 日</span>
  <span class="tags">Tag:
    <a href="/tags/docs.html"
        title="View posts with docs">docs</a>
    
  </span>
  
</p>
  </header>
  <div class="entry-content"><h2 id="background">Background</h2>
<p>The goal of this project is to simplify the current video creative workflow. It&#39;s very normal that a set of video creatives share the same content, but have different configurations (pre-/mid-/post-roll, skippable/non-skippable, etc.). For now the only way for users to do so, however, is to create these creatives one by one, which means the same video content is uploaded multiple times. It&#39;s a frustrating process, and it does not make too much sense to store copies of same files on our servers.</p>
<p>To solve this in a way that does not vastly change the current &quot;new/edit creative&quot; workflow, we propose a creative cloning approach. Once the user sets up one video creative, he/she can choose to clone this creative with different configurations. Then the <em>Console</em> will set up all creatives for the user.</p>
<h2 id="requirements">Requirements</h2>
<ul>
<li>Creative Cloning is available for both Turn-served and 3rd-party <em>video</em> creatives.</li>
<li>Cloning will re-use the content (video files or TPA tag) of the creative being cloned. It is not allowed to modify the content when setting up cloning.</li>
<li>Cloning will automatically append the configurations to the original name as the new creatives&#39; names (E.G., {{original name}} - post-roll skippable). Users can modify when setting up cloning.</li>
<li>Creatives that have been cloned or were created by cloning cannot be cloned again (<em>need further discussion</em>).</li>
</ul>
<h2 id="data-model">Data Model</h2>
<p>One new column is needed for <code>Creative</code> to mark whether or not the creative was cloned or created by cloning. It could be either a boolean value, or a group id indicating that a set of creatives are sharing the same content.</p>
<h2 id="endpoint">Endpoint</h2>
<p>One new endpoint to handle the cloning request. The request payload contains the creative being cloned (VO or only ID), and the changes that need to be made (name, placement, skippable, ssl, companion, attributes, etc.). The endpoint needs to check whether the creative is still allowed to be cloned.</p>
<p>Current video workflow does not allow users to change video files after the creative is created, so there&#39;ll be no change. However, if the transcoding project is rolled out, users will be able to modify the video files, so some back-end changes might be needed to make sure the file being deleted won&#39;t be removed from the hard drive if it&#39;s used by some other creatives.</p>
<h2 id="ui-changes">UI Changes</h2>
<ul>
<li><p>Creative library list:<br>A new context menu item &quot;Clone&quot; will be added for all video creatives.</p>
</li>
<li><p>New creative cloning page:<br>There&#39;ll be a new page for cloning workflow. There will be 4 steps in the workflow, so the page consists of 4 sub-tabs, described below.</p>
<ol>
<li><em>Clone Creative</em>: shows current configuration of the creative being cloned, and provides checkboxes for users to add new configurations.</li>
<li><em>Edit Metadata</em>: contains a set of creatives to be created. Users can select one of the creatives, checks its information, and modifies Name, Landing Page, Third Party Tracking URLs, and Companions.</li>
<li><em>Preview</em>: same as current workflow.</li>
<li><em>Set Attributes</em>: same as current workflow.</li>
</ol>
<p>To reduce the request payload, after users hit &quot;Save&quot;, only the original creative and the changes will be sent to back-end.</p>
</li>
</ul>
<h2 id="impacts">Impacts</h2>
<p>Creative cloning is likely to cause an explosive increase to the number of video creatives, which might bring some perfomance issues. The issues won&#39;t be devastated, so it&#39;s OK to roll out the project. However, some time needs to be reserved for Runtime to optimize the filtering/scoring process for the growth of ads shared by line items (per Marc Saba).</p>
<h2 id="references">References</h2>
<ul>
<li><a href="https://intranet.turn.com/display/campaigncenter/PRD+Video+Creative+Cloning">PRD</a></li>
<li><a href="https://intranet.turn.com/download/attachments/29072035/video_cloning_v2.pdf?version=1&amp;modificationDate=1412020677000&amp;api=v2">UI Mocks</a>: somewhat deprecated, needs to be updated.</li>
</ul>
</div>

  <!--
  <footer>
    <p class="meta pagination">
      <a class="older" href="/notes/2014-4-18/debugging/" title="Debugging">
        &laquo; Debugging
      </a>
      
      <a class="newer" href="/notes/2015-3-24/work-logs/" title="Work Logs">
        &raquo; Work Logs
      </a>
      
    </p>
    
  </footer>
  -->
</article>
    </div>
  </div>
  <footer class="footer">
    <p>Made with <span style="color:#FFB8B8">&hearts;</span> by YP</p>
  </footer>
</main>
<aside class="sidebar">
<section class="section-recent">
    <h3>Recent</h3>
    <ul class="recent-posts">
    <li class="post"><a href="/notes/2015-3-24/work-logs/">Work Logs</a></li>
      
    <li class="post"><a href="/notes/2014-11-18/creative-cloning-high-level-design/">Creative Cloning High Level Design</a></li>
      
    <li class="post"><a href="/notes/2014-4-18/debugging/">Debugging</a></li>
      
    <li class="post"><a href="/notes/2014-4-17/how-to-test-poweredit/">How To Test PowerEdit</a></li>
      
    <li class="post"><a href="/notes/2014-3-24/cache-w-order/">Cache w/ Order</a></li>
      
    
    
    
    
    
    </ul>
  </section>
  
  <section class="sidebar-foot">
    <div class="all-posts">
      <a class="archive" href="/notes/" title="Archive">
        All Notes
      </a>
    </div>
    <div class="sidebar-tags">
      <h3>Tags:</h3>
      <div class="tags">
      <a class=""
          href="/notes/tags/docs.html" title="docs">docs</a>
      <a class=""
          href="/notes/tags/interview.html" title="interview">interview</a>
      <a class=""
          href="/notes/tags/logs.html" title="logs">logs</a>
      <a class=""
          href="/notes/tags/tips.html" title="tips">tips</a>
      
      </div>
    </div>
  </section>

</aside>
</body>
<!-- Built at 2015-04-02T16:10:40-0700 -->
</html>


